<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OCPay.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>982160239A56CB8CCB088660F04FC953287D7ACA</string>
				<key>dateExpires</key>
				<string>2019/7/3</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>982160239A56CB8CCB088660F04FC953287D7ACA</string>
						<key>dateExpires</key>
						<string>2019/7/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T94PE38VUN</string>
						<key>name</key>
						<string>xing hu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>982160239A56CB8CCB088660F04FC953287D7ACA</string>
						<key>dateExpires</key>
						<string>2019/7/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>EBBannerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T94PE38VUN</string>
						<key>name</key>
						<string>xing hu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>982160239A56CB8CCB088660F04FC953287D7ACA</string>
						<key>dateExpires</key>
						<string>2019/7/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FLAnimatedImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T94PE38VUN</string>
						<key>name</key>
						<string>xing hu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>982160239A56CB8CCB088660F04FC953287D7ACA</string>
						<key>dateExpires</key>
						<string>2019/7/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T94PE38VUN</string>
						<key>name</key>
						<string>xing hu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>982160239A56CB8CCB088660F04FC953287D7ACA</string>
						<key>dateExpires</key>
						<string>2019/7/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T94PE38VUN</string>
						<key>name</key>
						<string>xing hu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>982160239A56CB8CCB088660F04FC953287D7ACA</string>
						<key>dateExpires</key>
						<string>2019/7/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T94PE38VUN</string>
						<key>name</key>
						<string>xing hu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>982160239A56CB8CCB088660F04FC953287D7ACA</string>
						<key>dateExpires</key>
						<string>2019/7/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T94PE38VUN</string>
						<key>name</key>
						<string>xing hu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>982160239A56CB8CCB088660F04FC953287D7ACA</string>
						<key>dateExpires</key>
						<string>2019/7/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T94PE38VUN</string>
						<key>name</key>
						<string>xing hu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>982160239A56CB8CCB088660F04FC953287D7ACA</string>
						<key>dateExpires</key>
						<string>2019/7/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>TZImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T94PE38VUN</string>
						<key>name</key>
						<string>xing hu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>982160239A56CB8CCB088660F04FC953287D7ACA</string>
						<key>dateExpires</key>
						<string>2019/7/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>YYKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T94PE38VUN</string>
						<key>name</key>
						<string>xing hu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>982160239A56CB8CCB088660F04FC953287D7ACA</string>
						<key>dateExpires</key>
						<string>2019/7/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ZWPlaceHolder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T94PE38VUN</string>
						<key>name</key>
						<string>xing hu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>982160239A56CB8CCB088660F04FC953287D7ACA</string>
						<key>dateExpires</key>
						<string>2019/7/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T94PE38VUN</string>
						<key>name</key>
						<string>xing hu</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>T94PE38VUN.OCPay.com</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>T94PE38VUN</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>OCPay.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>34211658-0041-4860-8f18-cd8edd168dcf</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: OCPay.com</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>T94PE38VUN</string>
				<key>name</key>
				<string>xing hu</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
